<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Header with Search Bar and Buttons</title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="custom.css">
</head>
<body>

  <!-- Custom Header Section with Full-Width Search Bar and Gold Buttons -->
  <div class="container-fluid text-light header-maroon">
    <div class="row align-items-center justify-content-between" style="padding: 16px 32px;">
      
      <!-- Left Side: Logo and Title -->
      <div class="col-md-4 d-flex align-items-center logo-title">
        <img class="img-fluid" style="max-width: 186px; height: auto;" src="https://profiles-vetmed.umn.edu/sites/profiles-vetmed.umn.edu/files/styles/full_width_1200_x_600/public/2018-12/goldyM2out_1200x600.png?itok=-_NoFzgC" alt="University of Minnesota Emblem">
        <h1>Gopher Marketplace</h1>
      </div>
      <!-- Right Side: Search Button and Navigation Buttons -->
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <!-- Navigation Buttons -->
        <button class="btn btn-gold ml-2">Home</button>
        <button class="btn btn-gold"><a class="nav-link" href="/browse">All listings</a></button>
        <!-- We will need to move this button to account page -->
        <!-- <button class="btn btn-gold">List an Item</button> -->
        <!-- <button class="btn btn-gold">About</button> -->
         <button class="btn btn-gold" onclick="window.location.href='/account'">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
