<div class="product-holder">
    <img src="https://via.placeholder.com/300x200" alt="Used Laptop" class="product-pic">
</div>





<!-- CSS -->
<style>
.product-pic {
    height:100%;
    width: 50%;
}

.product-holder {
    background-color:red;
    height:1000px;
    width:50%;
}

</style>
