<section id="products-grid" class="col-md-10">
    <div class="row align-items-start row-gap-3">
        <!-- Product #1 -->
        <% prodList.forEach( prod=> { %>
            <div class="col-md-3 mb-4">
                <div class="card card-maroon" style="width: 100%;">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Used Laptop">
                    <div class="card-body text-start">
                        <h5 class="card-title"><%= prod.product_name %></h5>
                        <h6 class="card-subtitle mb-2 text-warning"><%= prod.price %></h6>
                        <p class="card-text">N/A</p>
                        <a href="/browse?prodID=<%=prod.product_id%>" class="btn btn-gold">View details</a>
                    </div>
                </div>
            </div>
        <% }); %>

    </div>
</section>
