<%- include("partials/header.ejs") -%>
<% if (logout == false) {%>
<h1>Account<h1>
<p>Hello, <%-name-%></p>
<a href="/">Home</a>
<a href="/browse"><br>Browse</a>
<a href="/account/logout"><br>Logout</a>
<% } else { %>
    <h1 class="container">You have been successfully logged out.</h1>
    <h1 class="container"><a href="/">Home</a></h1>
<% } %>
<%- include("partials/footer.ejs") %>
