<%- include("partials/header.ejs") -%>
<body>
    
    <!-- Main content header -->
    <!-- <header class="text-center py-3 header-maroon">
        <h1>Gopher Marketplace</h1>
    </header> -->

    <!-- Main content with categories and products grid -->
    <div id="main-content" class="container-fluid">
        <div class="row">
            <!-- Categories Sidebar -->
            <aside id="categories" class="col-md-2 p-0">
                <ul class="list-group-flush p-0">
                    <% tagList.forEach(tag => { %>
                        <li class="list-group-item"><a class="nav-link"><%- tag.tag_name %></a></li>
                    <% }); %>
                </ul>
            </aside>

            <!-- Product Cards Section -->
            <div class="col-md-10 mt-2">
                <%- include("partials/productcards.ejs") %>
                
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %>
