<%- include("partials/header.ejs") %>
    <h1 class="container text-center my-5">Landing Page</h1>
    <p class="container" style="font-size: 1.5rem;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla facere dignissimos quibusdam itaque perferendis sit, pariatur laudantium laboriosam cupiditate? Sequi, aspernatur fuga. Praesentium accusantium consequuntur cupiditate, ipsam et voluptas doloribus asperiores quasi, debitis a eligendi? Dolorum et dolorem ratione, consectetur temporibus ipsam vitae reprehenderit, pariatur enim recusandae ducimus inventore vel?</p>
    <div class="container text-center">
        <a href="/browse" class="btn btn-primary my-5" style="font-size: 2rem;">Browse our listings</a>
    </div>
<%- include("partials/footer.ejs") %>
