<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/product.ejs") %>

        <a href="/browse" class="btn btn-primary my-5" style="font-size: 2rem;">Browse our listings</a>
</body>
</html>
